*{
    padding: 0;
    margin: 0.4;
    box-sizing: border-box;
}

body{
    background-color: rgba(148, 31, 226, 0.5);
    color: #000;
    overflow: hidden;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
input{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    
}
input::placeholder{
    padding-left:5px ;
}
input::content{
    padding-left:5px ;
}
.container{
    margin: 5% 35% 0 35%;
    width: 500px;
    height: 420px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    /* padding-bottom: 20%; */
   
}

.info , .sub{
    margin-left: 50px;
}
p{
    margin: 10px;
}

button{
    width: 400px;
    height: 30px;
    margin-left: 50px;
    margin-bottom: 15%;
    border-radius: 5px;
    color: transparent;
}

button:hover{
       background-color: rgba(148, 31, 226, 0.4);
}

a{
    text-decoration: none;
    color: #000;
}

h1{
    margin-left: 120px;
    padding-top: 5%;
}
